
.container {
     max-width: 1170px;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px;
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px;
}

h5 {
     font-size: 14px;
}

h6 {
     font-size: 13px;
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}
h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #050707;
}
 element.style {
    background-image: url(/assets/img/page-banner.png);
}
.page__banner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #050707;
    position: relative;
    z-index: 1;
    text-align: center;
}
.float-right {
    float: right !important;
}
.page__banner-menu {
    background: white;
    padding: 12px 20px;
    border-radius: 3px;
    position: relative;
    top: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.08);
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.page__banner-menu ul li {
    display: inline-block;
    color: #050707;
    font-weight: 600;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.page__banner-menu ul li a:hover {
    color: #2981E9;
}

.section-content{
    margin: 0 auto;
    padding: 0 100px 0;
    max-width: 1170;

}  


/*Career Section */
.career-section .career.title{
    font-size:22px;
    font-weight: 600;
    
}
.career-section .career .subtitle{
    font-size: 16px;
}
.career-section .career .tagline{
    font-style: italic;
    font-size: 14px;
}
img {
    width: auto;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
    border-style: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
col-x1-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.faq__area-about {
    background: #f9f9f9;
}
.faq__area-collapse-item {
    border-left: 3px solid #2981E9;
    margin-bottom: 20px;
    background: white;
    padding: 0 25px;
}
.faq__area-collapse-item-card-header h3 {
        font-size: 17px;
        line-height: 27px;
        font-weight: 500;
    }
element.style {
    padding: 20px 5px !important;
}
.w-100 {
    width: 100% !important;
}
/*Why choose us */

.why-choose-us .choose-list span{
    color:#dc3545;
}
.why-choose .heading{
    color:#828187;
    font-weight: 600;
    font-size: 14px;
}
.why-choose .choose-menu .reasons{
    color: #828187;
    font-size: 14px;
    line-height: 10px;
}

li{
    list-style: none;

}
ul{
    list-style-type: none;
}
.how-to-apply .heading,  .heading {
     color:#828187;
    font-weight: 600;
    font-size: 14px;
}
.how-to-apply .apply-subtitle , .items , .text, .job {
     color: #828187;
    font-size: 14px;
}
.info-details .info-link{
     color: #3112c7;
    font-size: 14px;
}

/* Job Section*/
