/*Importing Goggle Fonts */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    

}
:root{

    /*Colors */
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --light-yellow:#F79C00;
    --light-green:#00784a;
   --light-blue-two: #004586;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
   --light-blue: #100d5c;
   --black:#212144;
   --min-white:#f5f5f5;
    --light-red:#ec020c;
    --red-two:#e70034;
    --light-black:#252525;
    --black-dark:#100d5c;



    /*Font-Family */
    --font-heading:'Montserrat', sans-serif;
    --font-body:'Open Sans', sans-serif;

      /* font size*/
         --font-size-t:0.7rem;
    --font-size-s:0.9rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-1:1.5rem;
    --font-size-x1:2rem;
    --font-size-xx1:3rem;
    

    /* font weight*/
    --font-weight-normal:400;
    --font-weight-medium:500;
    --font-weight-semibold:600;
    --font-weight-bold:700;

    /*Border radius*/
    --border-radius-s:8px;
    --border-radius-m:30px
    --boder-radius-circle:50%;


    /*site max width */
    --site-max-width:1300px

}


/*Styling for the whole site*/
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
html{
    scroll-behavior: smooth;
}
.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1300px;
}

/*Header/ Navbar Styling */
header .contact{
   display: flex;
   padding: 20px;
   align-items: stretch;
   justify-content: space-between;
}

.contact .nav-menu{
    display: flex;
    gap: 2px;;
    align-items: center;
}
.contact .nav-menu .nav-items .nav-link{
    padding:10px;
     color: var(--black);
    font-size:var(--font-size-n);
    font-family: var(--font-body);
    align-items: center;
}
.contact .nav-logo{
position: relative;
  display: inline-block;
  height: 40px;
}
.contact .nav-logo img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition:  0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    background: var(--white);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.logo-dark {
  display: block; 
}

.logo-light {
  display: none;
}

.navbar .nav-menu .nav-items .nav-link{
    padding:10px;
    color: var(--light-blue);
    font-size:var(--font-size-n);
    font-family: var(--font-body);
    align-items: center;
}

.nav-menu .nav-link i {
    color: var(--light-blue);
}

.media-button{
    padding: 120px 2px 30px 0;
    text-align: right;
}

/*Recent News */
.recent-news-container{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  align-items: stretch;
  gap: 50px;
    
}
.new-section-heading{
    font-size: var(--font-size-x1);
    margin-bottom: 50px;
    color: var(--light-blue);
}
.recent-news-container .news-card{
    flex: 1;
     width: 450px;
    height: 600px;
    gap:20px;
     background: #fff;            
     overflow: hidden;            
     box-shadow: 0 4px 12px rgba(0,0,0,0.1);
     flex-direction: column;
}


.recent-news-container .news-heading{
    margin-bottom: 20px;
     font-size: var(--font-size-s);
    color: var(--light-black);
    font-family: var(--font-heading);
}
.recent-news-container .news-card-image{
    width: 100%;
    height: auto;
    display: block;
}

.recent-news-container .press-release{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--light-blue);
}
.recent-news-container .news-headline{
    font-size: var(--font-size-m);
    color: var(--light-blue);
    font-family: var(--font-heading);

}
.news-context{
    display: flex;
    gap: 20px;
    max-width: 80%;
    font-family: var(--font-body);
    font-size: var(--font-size-s);
}
.news-context hr{
    color:var(--red)
}

.news-card-details{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--light-blue);
}
/*Gallery Section */
.gallery-section{
    padding: 120px 0;
}
.gallery-heading{
    font-size: var(--font-size-x1);
    font-family: var(--font-heading);
     display: inline-block;
    padding: 12px 24px;
    color: var(--light-blue);
    background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
 
    
}
.gallery-section .gallery-media{
    display: grid;
    grid-template-columns: 2fr 1fr; 
      
}
.image-one{
    display: relative;
}
.gallery-text{
    display: absolute;
    top: 0;
    bottom: 0;
    transform: translate(-50);
    text-align: center;
}

.gallery-media-two{
display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 18px;
  row-gap: 2px;
  margin-right: 15rem;
 
  

}
.gallery-card{
    position: relative;
    
}

.gallery-text {
  position: absolute;
font-size: var(--font-size-m);
  font-family: var(--font-body);
  font-weight: var(--font-weight-semibold);
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 0 0 6px rgba(0,0,0,0.6); /* makes text readable on image */
  pointer-events: none; /* lets clicks pass through if needed */
}